.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 500;
}

h1 span {
    font-weight: 500;
    background: linear-gradient(to right , rgb(208, 6, 222) ,rgb(84, 84, 186));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#hora {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 3rem;
}