
.bars-menu {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  top: 50vh;
  left: 5px;
  cursor: pointer;
  background: none;
  z-index: 1;
  border-radius: 2rem;
  transition: transform 300ms;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
}

.menu {
  position: fixed;
  width: 60vw;
  padding: 40px;
  top: 0;
  left: -100vw;
  background-color: #292929;
  border-right: 1px solid rgba(0, 0, 0, 0.094);
  z-index: 0;
  height: 100vh;
  transition: left 500ms;

}

.links-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 30px;
  font-size: 1.2rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  border-radius: 2rem;
}

.desplegado {
  left: 0;
  transition: left 500ms;
}

.bars-desplegadas {
  color: black;
  background-color: white;
  transform: rotate(180deg);
  transition: transform 300ms;
}

.switch-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* background: none; */
  border: none;
  padding: .5rem;
  border-radius: 2rem;
}

.icon  {
  text-align: center;
  font-size: 1.3rem;
}

.dark-mode {
  background-color: #222;
}

.hidden {
  display: none;
}