input {
    outline: none;
    background-color: #333;
    border: none;
    width: 75vw;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #fff;
    padding: 0 1rem;
}

.enterTask {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addButton {
    background-color: green;
    padding: .5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    font-weight: 600;
}


.deleteButton {
    border: none;
    border-radius: 1rem;
    background-color: rgb(175, 40, 40);
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.task {
    background-color: #111;
    margin: 1rem 0;
    width: 90vw;
    color: #fff;
    padding: .2rem 1rem;
    border-radius: 2rem;
}

li {
    display: flex;
    justify-content: space-between;
}